<div class="body-container">
    <div class="app-view">
        <%- include ("./partials/messages") %>
        <section id="dateNow">
    
        </section>
        <div class="drop-down">
            <input  type="checkbox" id="toggle">
            <label for="toggle">&#9776;</label>
            <nav class="drop-down-nav">
                <ul>
                    <li><a href="/dashboard">Learning Modules</a></li>
                    <li><a href="#">Statistics</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Twitter;</a></li>
                </ul>
            </nav>
    
        </div>
    
        <!-- showcase -->
        <div class="welcome-container">
            <h1 id="hello" ></h1>
            <h2><span id="time"></span></h2>
             <a href="/dashboard" id="lets-go" class="btn btn-welcome">lets go!</a>
             <p class="welcome-signup">have an account login <a href="/users/register"> Sign UP</a>
             </p>
        </div>
        <!-- <figure class="home-img img-1"><img src="../../images/picon.jpeg" alt="" width="100%"></figure> -->
        <figure class="home-img img-2" ><img src="./images/picon.jpeg" alt="" width="100%"></figure>
        <figure class="home-img img-3"><img src="./images/picon2.png" alt="" width="100%"></figure>
        
    </div>
        
</div>
